.picker-item {
    position: absolute;
    -unity-text-align: middle-center;
    right: 0;
    font-size: 25px;
    left: 0;
    white-space: normal;
    color: rgb(255, 255, 255);
    transition-property: scale, top;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease-out, ease-out;
}

.picker-item--selected {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    opacity: 1;
    scale: 1 1;
    background-color: rgb(37, 85, 35);
}

.picker-item--selected:hover{
    background-color: rgb(46, 123, 42);
}

.carousel-point {
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 15px;
    height: 15px;
    background-color: rgb(37, 85, 35);
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    flex-shrink: 0;
}

.carousel-point--selected {
    background-color: rgb(46, 123, 42);
}

.carousel-point:hover {
    background-color: rgb(46, 123, 42);
}

.carousel-container{
    width: 7%;
    justify-content: center;
    align-items: center;
}

.answer-container{
    width: 93%;
}

.choice-button {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    -unity-background-image-tint-color: rgb(37, 85, 35);
    background-image: url("project://database/Assets/Art/Textures/play-outline.png?fileID=2800000&guid=5b1b442061fd3314e95c4b8f94d9d009&type=3#play-outline");
}

.choice-button:hover{
    -unity-background-image-tint-color: rgb(46, 123, 42);
}

.choice-button--rotate-left {
    rotate: -90deg;
}

.choice-button--rotate-right {
    rotate: 90deg;
}