:root {
  --color-window:  rgb(4, 24, 1);
  --color-interactable: rgb(37, 85, 35);
  --color-hover: rgb(50, 112, 47);
  --color-border: rgb(0, 0, 0);
  --color-text: rgb(255, 255, 255);
}

.property-text {
    font-size: 20px;
    flex-grow: 1;
    -unity-text-align: middle-center;
    max-width: 50%;
    white-space: normal;
}

.block-header {
    font-size: 26px;
    -unity-text-align: upper-center;
}

.block {
    border-color: var(--color-border);
    border-width: 6px;
    border-radius: 14px;
    margin: 5px;
    padding: 10px;
}

.name-and-value {
    max-height: 100px;
}

.d-pad-button {
    width: 33%;
    height: 100%;
}

.d-pad-row {
    height: 33%;
    flex-direction: row;
}

.switch-plant-button {
    height: 10%;
    width: 79px;
}

.switch-plant-button:hover {
    transition-property: scale;
    transition-duration: .3s;
    scale: 1.1 1.1;
}

.switch-plant-button:disabled:hover {
    scale: 1 1;
}

.no-spacing {
    margin: 0;
    padding: 0;
}

.no-background {
    background-color: rgba(0, 0, 0, 0);
}

.text-color {
    color: var(--color-text);
}

.unity-popup-field__menu {
    background-color: rgb(14, 104, 10);
}

.unity-base-popup {
    background-color: rgb(14, 104, 10);
}

.window-bg-color {
    background-color: var(--color-window);
}

.custom-label {
    font-size: 20px;
    -unity-font-style: bold;
    padding-left: 15px;
    padding-right: 15px;
}

.custom-button {
    background-color: var(--color-interactable);
    font-size: 20px;
    -unity-font-style: bold;
    border-radius: 10px;
    border-color: var(--color-border);
    border-width: 3px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 25px;
}

.bg-color {
    background-color: var(--color-window);
}

.submenu-window {
    background-color: var(--color-window);
    border-width: 5px;
    border-radius: 7px;
    border-color: var(--color-border);
}

.unity-popup-field:active .unity-base-field__input {
    background-color: var(--color-hover);
    border-color: var(--color-border);
}

.unity-popup-field:hover .unity-base-field__input {
    background-color: var(--color-hover);
    border-color: var(--color-border);
}

.unity-button:hover {
    background-color: var(--color-hover);
}

.unity-tree-view__item:hover {
    background-color: var(--color-window);
}

.unity-tree-view__item {
    background-color: var(--color-window);
    margin-bottom: 3px;
}

.unity-button {
    background-color: var(--color-interactable);
    -unity-font-style: bold;
    border-color: var(--color-border);
    border-width: 3px;
}

.unity-base-text-field__input:hover {
    background-color: var(--color-hover);
    border-color: var(--color-border);
}