.property-text {
    font-size: 20px;
    flex-grow: 1;
    -unity-text-align: middle-center;
    max-width: 50%;
    white-space: normal;
}

.block-header {
    font-size: 26px;
    -unity-text-align: upper-center;
}

.block {
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 6px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.name-and-value {
    max-height: 100px;
}

.d-pad-button {
    width: 33%;
    height: 100%;
}

.d-pad-row {
    height: 33%;
    flex-direction: row;
}

.switch-plant-button {
    height: 10%;
    width: 79px;
}

.switch-plant-button:hover {
    transition-property: scale;
    transition-duration: 1s;
    scale: 1.2 1.2;
}

.switch-plant-button:disabled:hover {
    scale: 1 1;
}

.no-spacing {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.no-background {
    background-color: rgba(0, 0, 0, 0);
}

.text-color {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
}

.unity-popup-field__menu {
    background-color: rgb(14, 104, 10);
}

.unity-base-popup {
    background-color: rgb(14, 104, 10);
}

.window-bg-color {
    background-color: rgb(4, 24, 1);
}

.custom-label {
    font-size: 20px;
    -unity-font-style: bold;
    padding-left: 15px;
    padding-right: 15px;
}

.custom-button {
    background-color: rgb(37, 85, 35);
    font-size: 20px;
    -unity-font-style: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 25px;
}

.bg-color {
    background-color: rgb(4, 24, 1);
}

.submenu-window {
    background-color: rgb(4, 24, 1);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}

#light-dropdown-field:active .unity-base-field__input {
    background-color: rgb(37, 85, 35);
}

#light-dropdown-field:hover .unity-base-field__input {
    background-color: rgb(37, 85, 35) !important;
}