#Encyclopedia {
    flex-grow: 1;
    flex-direction: row;
    width: 98%; height: 98%;
    background-color: rgb(255, 255, 255); 
    right: 1%; 
    bottom: 1%; 
    left: 1%; 
    top: 1%; 
    position: absolute; 
    border-color: rgba(0, 0, 0, 0); 
    border-width: 1px; 
    border-radius: 15px;
}

#close-button {
    width: 5%; height: 5%;
    position: absolute; 
    top: 0%; 
    right: 1%; 
    background-color: rgb(255, 255, 255); 
    border-color: rgba(0, 0, 0, 0); 
    border-width: 2px; 
}

#side-bar {
    height: 96%;
    width: 15%;
    left: 2% ;
    top: 2% ;
    bottom: 2% ;
}

#search-bar {
    height: 3%;
    border-radius: 15px;
    border-width: 2px;
    border-color: rgb(126, 126, 126);
    font-size: 10px; 
}

#entry-scroll-view {
    height: 96%;
    width: 75%; 
    left: 4% ;
    top: 2% ;
}

#entry {
    flex-grow: 1;
    white-space: normal;
}