:root {
    --color-window: rgb(4, 24, 1);
    --color-interactable: rgb(37, 85, 35);
    --color-hover: rgb(50, 112, 47);
    --color-border: rgb(0, 0, 0);
    --color-text: rgb(255, 255, 255);
}

.inventory-window {
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    border-width: 2px;
    border-color: white;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    position: absolute;
}

.nav-tabs {
    flex-direction: row;
    border-bottom-width: 2px;
    border-color: white;
}

.nav-link {
    padding: 10px;
    border-width: 0;
    font-size: 26px;
    width: 474px;
}

.active {
    background-color: rgb(50, 112, 47);
}

.tab-content {
    font-size: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.inventory-item {
    padding: 10px;
    border-radius: 5px;
    border-color: white;
    margin: 10px;
    width: 400px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.item-name {
    font-size: 20px;
    margin-bottom: 5px;
}

.item-details {
    font-size: 18px;
    margin-bottom: 10px;
}

.item-quantity {
    font-size: 18px;
    margin-bottom: 10px;
}
