.Inventar{
    position: absolute; 
    width: 50%; 
    height: 60%; 
    left: 25%;  
    background-color: rgb(200, 200, 200); 
    flex-direction: column; 
    padding: 10px; 
    border-radius: 20px; 
    border-width: 2px; 
    border-color: black;
        
}
.close-button{
    background-color: transparent; 
    border-width: 0; 
    font-size: 18px; 
    width: 40px; 
    height: 40px; 
    cursor: pointer;
}
.nav-tabs {
    flex-direction: row;
    border-bottom-width: 2px;
    border-color: black;
    margin-bottom: 10px;
    
}


.nav-link {
    flex-grow: 1;
    padding: 10px;
    text-align: center;
    border-width: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 26px;
}

.active {
    background-color: lightgray;
}


.disabled {
    color: gray;
    cursor: not-allowed;
}


.tab-content {
    display: none;
    font-size: 20px
}

.tab-content.active {
    display: flex;
}
