:root {
  --color-window:  rgb(4, 24, 1);
  --color-interactable: rgb(37, 85, 35);
  --color-hover: rgb(50, 112, 47);
  --color-border: rgb(0, 0, 0);
  --color-text: rgb(255, 255, 255);
}

.Inventar{
    position: absolute; 
    width: 60%; 
    height: 60%; 
    left: 25%;
    margin-top: 5%; 
    background-color: rgb(200, 200, 200); 
    flex-direction: column; 
    padding: 10px; 
    border-radius: 20px; 
    border-width: 2px; 
    border-color: white;     
}

.close-button{
    background-color: transparent; 
    border-width: 0; 
    font-size: 20px; 
    width: 40px; 
    height: 40px; 
}

.nav-tabs {
    flex-direction: row;
    border-bottom-width: 2px;
    border-color: white;
    margin-bottom: 10px;
    
}

.nav-link {
    flex-grow: 1;
    padding: 10px;
    border-width: 0;
    background-color: transparent;
    font-size: 26px;
}

.active {
    background-color:  rgb(50, 112, 47);
}

.tab-content {
    display: none;
    font-size: 20px;
    flex-wrap: wrap;    
}

.scroll-content{
    height: 96%;
    width: 75%;
    left: 4%;
    top: 2%;
}

.tab-content.active {
    display: flex;   
}

.text-color {
    color:  rgb(255, 255, 255);
}

.inventory-item {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border-color : white;
    margin: 10px;   
}

.item-name {
    font-size: 20px;
    margin-bottom: 5px;
}

.item-details {
    font-size: 18px;
    margin-bottom: 10px;
}

.item-quantity{
    font-size: 18px;
    margin-bottom: 10px;
}