.notification {
    position: absolute;
    right: 0;
    bottom: 90px;
    width: 25%;
    padding: 10px;
    height: 20%;
    border-radius: 5px;
    background-color: rgb(4, 24, 1);
    color: white;
    transition-property: translate;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

.notification__close-button {
    width: 20px;
    padding: 7px 15px;
    background-color: rgb(3, 74, 0);
    border: 5px;
    border-radius: 5px;
}

.notification__top-row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30%;
}

.notification__title-label {
    width: 75%;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    -unity-font-style: bold;
    font-size: 100%;
}

.notification__body-label {
    width: 100%;
    text-overflow: ellipsis;
    height: 79%;
    overflow: hidden;
    white-space: normal;
}
