.property-text {
    font-size: 20px;
    flex-grow: 1;
    -unity-text-align: middle-center;
    max-width: 50%;
    white-space: normal;
}

.block-header {
    font-size: 26px;
    -unity-text-align: upper-center;
}

.block {
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 6px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.button {
    font-size: 45px;
    -unity-font-style: bold;
    -unity-text-outline-color: rgb(255, 255, 255);
    -unity-text-outline-width: 1px;
    border-top-left-radius: 108px;
    border-top-right-radius: 108px;
    border-bottom-right-radius: 108px;
    border-bottom-left-radius: 108px;
    height: 10%;
    width: 79px;
}

.name-and-value {
    max-height: 100px;
}

.button:disabled:hover {
    scale: 1 1;
}

.d-pad-button {
    width: 33%;
    height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.d-pad-row {
    height: 33%;
    flex-direction: row;
}
